/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.placeOrderButton{
    -fx-background-color: #453DB6;
    -fx-background-radius: 20;
}
.placeOrderButton:hover,
.placeOrderButton:pressed{
    -fx-background-radius: 20;
    -fx-background-color: #281EB6;
    -fx-background-size: 20;
}
.addImageAction{
    -fx-background-color: #7F1C7F;
    -fx-background-radius: 20;
}